*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
 
  html
  {
      font-size:200%;
    
  }
 /* text of body*/
  body
  {
      -webkit-font-smoothing:antialiased;
      color:#0c0c0b;
      font-family:Lora, serif;
      font-size:33px; 
      font-weight:400;
      line-height:1.4;
      text-rendering:optimizeLegibility;
  }
  /* color effect on the skills section */
  .skill-set li:hover
  {
      background:#39ca69;
  }
  /* header 1s body para color*/
  h1
  {
      color:rgba(122, 1, 7, 0.75);
      position: sticky;
  }
 
  .wrapper
  {
      height:100%;
  }
 
  .left
  {
      background-color:rgba(141, 96, 96, 0.025);
      border-right:1px solid rgba(0,0,0,.05);
      float:right;
      height:100%;
      margin-left:-1px;
      min-width:256px;
      position:fixed;
      width:33.33%;
      background-color: rgba(253, 67, 105, 0.356);
   
  }
 
  .right
  {
      float:right;
      height:100%;
      position:relative;
      width:66.66%;
  }
 
 /* Name section in left stationary panel */
  .name-hero
  {
    text-align: center;
      background:rgba(14, 13, 13, 0.001);
      bottom:0;
      height:290px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
      font-size: 33px;
      
  }
 
  .me-img
  {
      background:url(https://media-exp1.licdn.com/dms/image/C4E03AQGnLq_IB_mf8Q/profile-displayphoto-shrink_400_400/0/1631022739752?e=1648684800&v=beta&t=eICUjHeH_g9GQEItmEMK1j2gCADwqfjrlccSD_5za58) no-repeat center center ;
      background-size:100%;
    background-position:0px;
      border-radius:100%;
      height:150px;
      margin:0 auto;
      position:relative;
      width:150px;
  }
 
  .name-hero h1
  {
      font-family:Open Sans, sans-serif;
      font-size:1.5em;
      text-align:center;
  }
 /*accent color and style
 */
  .name-hero h1 em
  {
      color:rgba(56, 1, 1, 0.89);
      font-style:italic;
      font-weight:700;
  }
 
  .name-hero p
  {
      color:rgba(56, 1, 1, 0.89);
      font size: 50px;
      line-height:1.5;
      margin:0 8px 0 0;
  }
 
  .name-hero .name-text
  {
      margin:0 auto;
      width:85%;
      padding-bottom: 25px;
  }
 
  .inner
  {
      margin:0 auto;
      max-width:975px;
      padding:3em;
  }
 
  .inner h1
  {
      font-size:1.75em;
  }
 /*section paragraph styling*/
  .inner p
  {
      color:rgba(27, 1, 1, 0.938);
      font-style: normal;
  }
 /*section accent color*/
  .inner p em
  {
      color:rgba(107, 2, 2, 0.89);
      font-style:italic;
  }
 
  .inner section
  {
      margin:100px auto;
  }
 
  ul
  {
      list-style-type:none;
      margin-top:-10px;
      max-width:570px;
      padding:0;
  }
  /* skills tabs color */
  .skill-set li
  {
      background:rgba(255, 62, 62, 0.664);
      border-radius:5px;
      color:#FFF;
      display:inline-block;
      list-style:none;
      margin:15px 15px 0 0;
      padding:10px;
      text-align:justify;
  }
 
  @media screen and (max-width: 48em) {
      .right,.left
      {
          float:none;
      position:relative !important;
          width:100%;
      min-height:500px;
      }
    .handmade {
    text-align:center !important;
    margin-top:0px !important;
  }
 
  @media screen and (max-width: 75em) {
      body
  { font-size:16px;}
  }
 
  @media screen and (max-width: 60em) {
      body
  { font-size:14px;}
  }
  .clearfix:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  .handmade {
    text-align:right;
    margin-top:100px;
  }
  .handmade em {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.25em;
    margin-left:5px;
  }